html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container section.tweets {
  position: relative;
  margin: 2em;
  background-color: #FFF;
}

section.tweets article.each-tweet {
  opacity: 0.8;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
}

section.tweets article.each-tweet:hover {
  opacity: 1.0;
}

section.tweets header {
  border-radius: 5px 5px 0 0;
  margin: 0;
  background-color: #eee;
  display: flex;
  flex-direction: row;

}

section.tweets header .image {
  width: 100px;
  height: 100px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

section.tweets header .name {
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom:;
  padding-left: 5px;
  font-size: 250%;
  font-weight: 700;
  color: #244751;
}

section.tweets header .handle {
  margin-left: auto;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom:;
  padding-left: 0px;
  font-size: 115%;
  color: #244751;
}

section.tweets p {
  min-height: 4em;
  margin: 0;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  font-size: 125%;
}

section.tweets footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid #eee;
  color: #244751;
  display: flex;
  flex-direction: row;
}

section.tweets footer .days {
}

section.tweets footer .glyph-icons {
  margin-left: auto;
  display: none;
}

section.tweets footer div.glyph-icons:hover {
  display: block;
}
